@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(25, 2, 47, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: url(/gif/open-statue-oscar.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 5rem;
    font-family: Raleway;
    font-weight: 900;
    text-align: center;
    margin-top: 30vh;
    background-image: url(../img/gold-gradient.jpg);
    -webkit-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;

}
h2{
    font-size: 3rem;
    font-family: Raleway;
    text-align: center;
    margin-top: 5vh;
    background-image: url(../img/gold-gradient2.jpg);
    -webkit-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}
.s-star{
    text-align: center;
}
.s-star img{
    width: 150px;
    height: 150px;
}
.box-btn{
    text-align: center;
}
.btn{
    background: url(/img/gold-gradient.jpg);
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 25px;
    border: 1px solid;
    border-image: linear-gradient(227.91deg, rgb(218, 142, 1) 0%, yellow 100%) 1;
}
.btn:hover{
    background: url(/img/gold-gradient2.jpg);
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 25px;
    border: 1px solid yellow;
    cursor: pointer;
}

@media (max-width:400px){
        body{
        height: 100%;   
        background-color: rgba(25, 2, 47, 0.2);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-image: url(/gif/open-statue-oscar.gif);
        background-repeat: no-repeat;
        background-size: cover;
}
        h1{
        font-size: 3rem;
        font-family: Raleway;
        font-weight: 900;
        text-align: center;
        margin-top: 30vh;
        background-image: url(../img/gold-gradient.jpg);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        }
        h2{
        font-size: 2rem;
        font-family: Raleway;
        text-align: center;
        margin-top: 5vh;
        background-image: url(../img/gold-gradient2.jpg);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        }
        .s-star{
    text-align: center;
        }
        .s-star img{
            width: 150px;
            height: 150px;
        }
        .box-btn{
            text-align: center;
        }
        .btn{
            background: url(/img/gold-gradient.jpg);
            color: black;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 25px;
            border: 1px solid;
            border-image: linear-gradient(227.91deg, rgb(218, 142, 1) 0%, yellow 100%) 1;
        }
        .btn:hover{
            background: url(/img/gold-gradient2.jpg);
            color: black;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 25px;
            border: 1px solid yellow;
            cursor: pointer;
        }
        
}

@media (max-width:450px){
        body{
        height: 100%;   
        background-color: rgba(25, 2, 47, 0.2);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-image: url(/gif/open-statue-oscar.gif);
        background-repeat: no-repeat;
        background-size: cover;
}
        h1{
        font-size: 3rem;
        font-family: Raleway;
        font-weight: 900;
        text-align: center;
        margin-top: 30vh;
        background-image: url(../img/gold-gradient.jpg);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        }
        h2{
        font-size: 2rem;
        font-family: Raleway;
        text-align: center;
        margin-top: 5vh;
        background-image: url(../img/gold-gradient2.jpg);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        }
        .s-star{
    text-align: center;
        }
        .s-star img{
            width: 150px;
            height: 150px;
        }
        .box-btn{
            text-align: center;
        }
        .btn{
            background: url(/img/gold-gradient.jpg);
            color: black;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 25px;
            border: 1px solid;
            border-image: linear-gradient(227.91deg, rgb(218, 142, 1) 0%, yellow 100%) 1;
        }
        .btn:hover{
            background: url(/img/gold-gradient2.jpg);
            color: black;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 25px;
            border: 1px solid yellow;
            cursor: pointer;
        }
        
}


@media (max-width:750px){
        body{
        height: 100%;   
        background-color: rgba(25, 2, 47, 0.2);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-image: url(/gif/open-statue-oscar.gif);
        background-repeat: no-repeat;
        background-size: cover;
}
        h1{
        font-size: 3rem;
        font-family: Raleway;
        font-weight: 900;
        text-align: center;
        margin-top: 30vh;
        background-image: url(../img/gold-gradient.jpg);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        }
        h2{
        font-size: 2rem;
        font-family: Raleway;
        text-align: center;
        margin-top: 5vh;
        background-image: url(../img/gold-gradient2.jpg);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        }
        .s-star{
    text-align: center;
        }
        .s-star img{
            width: 150px;
            height: 150px;
        }
        .box-btn{
            text-align: center;
        }
        .btn{
            background: url(/img/gold-gradient.jpg);
            color: black;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 25px;
            border: 1px solid;
            border-image: linear-gradient(227.91deg, rgb(218, 142, 1) 0%, yellow 100%) 1;
        }
        .btn:hover{
            background: url(/img/gold-gradient2.jpg);
            color: black;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 700;
            padding: 15px 30px;
            margin-top: 25px;
            border: 1px solid yellow;
            cursor: pointer;
        }
        
}